{% extends "writers/base.html" %}
{% load static %}
{% block content %}

<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'clients/img/about.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Know more</span>
                <span class="section-heading-lower">About Us</span>
              </h2>
              <p class="mb-0"> Writeit is a company that provides professional writing services for intrested parties in various fields of sturdy. We are proud to announce that we are among the first online writing companies to accept and give payments cryptocurrency to enhance anonymity of enyone we engage in especially our clients. We also hire competent freelance writers to tackle some of the orders from our clients. We boast of high quality work and a good working environment for both our writers and clients. </p>
              <div>
                <p class="mb-0">
                  <small>
                    <em>Call us Anytime</em>
                  </small>
                  <br>
                  0563568154 </br>
                  <small>
                    <em>Email</em>
                  </small>
                  <br>
                  abumanagers@gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}