{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Writeit</title>

  <link href="{% static 'writers/img/favicon.png' %}" rel="icon">
  <link href="{% static 'writers/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'writers/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'writers/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'writers/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'writers/css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    {% if user.is_authenticated %}
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top"></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'd-dash' %}">Available</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'o-completed' %}">Finances</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'o-canceled' %}">Summary</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    {% else %}
      <ul class="sidebar-nav"></ul>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top"></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'd-home' %}">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'd-home' %}">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'terms' %}">Terms</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'd-home' %}">Contact</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    {% endif %}
</nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">WriteIt</h1>
      <h3 class="mb-5">
        <em>Whatever Your Need, We Write it</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>When Writing Becomes Art, We Are Picasso!</h2>
          <p class="lead mb-5">
            WriteIt is the best online Writing company around, boasting of many satisfied clients and
             quality writers, working around the clock to ensure we are available for you regardless
              of the time of the day.
          </p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">How we operate</h3>
        <h2 class="mb-5">With our Clients</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Available Around The Clock</strong>
          </h4>
          <p class="text-faded mb-0">
            Do not miss your project's deadline because you cannot find someone to handle 
            your assignments. We have people working 24/7 to ensure no one is left out 
            because of time barriers.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Quality Work Delivery</strong>
          </h4>
          <p class="text-faded mb-0">
            Our writers are high professionals who are dedicated to putting a smile on your 
            face once you see your work. Any quality related issues are avoided by ensuring 
            your project is proof-read by atleast three specialists to ensure we do not give 
            any room for error. In case we do not meet the standard of work specified by our 
            clients, we promise a full re-fund of yor money.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Fair Prices in the Market</strong>
          </h4>
          <p class="text-faded mb-0">
            Our prices are the most fair in the market and dynamic to ensure you pay depending 
            on how fast you want your project submitted.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Customer Friendly Environment</strong>
          </h4>
          <p class="text-faded mb-0">
            Experience our customer friendly environment that keep you up to date with the your 
            project's progress. We give our customers the first priority and handle all issues 
            as fast as possible.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="areas" class="areas section-bg ">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>The Fields we cover</h2>
        <p>We Provide a range of services in the writting field.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="icofont-computer"></i>
            <h4><a href="#">Computer Science and Technology</a></h4>
            <p>We have experienced writers in the field of computer science and technology to cover all your assignment as required.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="icofont-chart-bar-graph"></i>
            <h4><a href="#">Business and Economics</a></h4>
            <p>Our writer in these fields are qualified with degree from respective fields and atleast three years experince of writing on matters concerning business.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="icofont-image"></i>
            <h4><a href="#">Performing Arts</a></h4>
            <p>We provide excelent reviews and essays in the performing arts with our writers being we versed in the field from the experienced they have gathered over the years.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="icofont-settings"></i>
            <h4><a href="#">Medicine and Biology</a></h4>
            <p>In the biological sciences, you may find trouble writing critical essays, desrtations, literature reviews, and other assignments. Here you can ask our writers to assist you with any paper.              </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="icofont-earth"></i>
            <h4><a href="#">History and Law</a></h4>
            <p>Don't have time to peruse through the numerous books on your history and law project? Give us the chance to make everything easy for you with an original paper that will knock your socks off!</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
            <i class="icofont-tasks-alt"></i>
            <h4><a href="#">Literature</a></h4>
            <p>Don't give yourself a headache trying to correct grammar or read dozens of novels to complete your literature essay. Delate that to us and we will make it worth your while.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

<section id="tabs" class="tabs">
  <div class="container" data-aos="fade-up">

    <ul class="nav nav-tabs row d-flex content-section-heading">
      <li class="nav-item col-3">
        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Unlimited revisions</h4>
        </a>
      </li>
      <li class="nav-item col-3">
        <a class="nav-link" data-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Follow up on your work</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <h3>Earn the marks you deserve with our well written essays!</h3>
            <p class="font-italic">
              Our essays are well written and structured in a formatting f your choice by our eficient writters. We ensure 
              all the work submitted to you is unplagiarized with our powerfull tools that promise you original work to give to
              your supervisor or lecturer.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Follow up on the progress of your work to ensure our writer is doing the right thing.</li>
              <li><i class="ri-check-double-line"></i> Get value for your money.</li>
              <li><i class="ri-check-double-line"></i> Get unlimited revisions on submitted work free of charge.</li>
            </ul>
            <p>
              Depending on your engagements, you can choose to be involved with  your project as we write it. We provide 
              a chatting system that enables you to keep tabs on the writer doing your work. In any case you feel the writer is
               not qualified enough to handle the paper, you can request for another writerand we will be happy to abide.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Our Prices are Dynamic</h3>
            <p>
              We are the most affordable writting service out there and we also offer our writers good returns. Some of our senior writers earn as much as $10 per page.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Send us the work you want to be handled via email.</li>
              <li><i class="ri-check-double-line"></i> Wait for credentials to sign in to our website.</li>
              <li><i class="ri-check-double-line"></i> Fill in your full information on our website.</li>
              <li><i class="ri-check-double-line"></i> Enjoy the services we have to offer.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">Sign up</h2>
      <a href="#!" class="btn btn-xl btn-light mr-4">As a Writer</a>
      <a href="#!" class="btn btn-xl btn-dark">As a Client</a>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Writeit 2021</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'writers/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'writers/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'writers/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'writers/js/stylish-portfolio.min.js' %}"></script>

</body>

</html>
